Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
We can comments code in python by 3 ways-
1.By Using single # or ## if there is a single line comments 
2.By Using ''' or """ if there is a multi line comments 
3.By selecting all comments and then click cntl + / if you want to do comments line by line

Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
A variable in Python is a storage location for data. It is a name that refers to a value
and we can declare variable by just giving any name to it and assign value to it .
Example age = 23
        place = delhi

Q3. How do you convert one data type to another in Python?

In [ ]:
We can use built-in-functions given in python to convert one data type to another like str(),int(),float(),list()
etc. eg

In [1]:
a = 45875
b = str(a)
b

'45875'

Q4. How do you write and execute a Python script from the command line?

In [ ]:
We can execute a python script from command line by-
1.Open a text editor and create a new file. Save the file with a .py extension.
2.Write your Python code in the file.
3.Open a command prompt and navigate to the directory where you saved your Python script.
4.Then type your command to run your Python script

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [2]:
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
Complex number is combination of real and imaginary number and we can represent it like s = 15+54j
using j is necessary part to show imaginary part

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
Use similar name like here we will use age variable
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [4]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [5]:
name = "Monu Sharma"
print(name)

Monu Sharma

Q10. Given the string "Hello, World!", extract the substring "World".

In [6]:
h = "Hello, World!"
h[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [7]:
is_student = True

In [ ]:
Yes I am a student